@font-face
{
  font-family: RobotoCondesed;
  src:url(assets/roboto-condensed.light.ttf);
  font-weight: 800;
  
}
@font-face
{
  font-family: EconomicaBold;
  src:url(assets/economica-bold.ttf);
  font-weight: 800;
  
}
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: RobotoCondesed;
  text-align: center;
  font-size: 15px;
  padding:2.5%;
background-color: ghostwhite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1,h2,h3,h4,h5,h6
{
  font-family: EconomicaBold;
}
.profile
{
  width:200px;
  height:200px;
  border-radius: 100px ;
}
.title-fadeout
{
  opacity: 0;
  animation-name: fade-out;
  animation-duration: 2s;
}
.title-fadein
{
  opacity: 100;
  animation-name: fade-in;
  animation-duration: 2s;
}
@keyframes fade-out
{
  from {opacity: 100}
  to {opacity: 0}
}
@keyframes fade-in
{
  from {opacity: 0}
  to {opacity: 100}
}